.form {
    margin-top: 30px;
}

.form-group {
    padding-left: 20px;
}

.margin-top-50 {
    margin-top: 50px
}
.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active{
    background: #727473;
}
input[type="checkbox"], input[type="radio"]{
    opacity:1 !important;
    border:#727473;
    height:20px;
    width:20px;
}
.padding-left-30{
padding-left:30px;
}