.nav-tabs .nav-link,
.nav-tabs {
    border: none;
}

.nav-tabs .nav-link.active {
    border-bottom: 2px solid #26a69a;
}

.nav-link {
    display: block;
    padding: .5rem 1.3rem;
}

.nav-tabs .nav-link {
    margin-right: 16px;
}

.form {
    margin-top: 30px;
}

.padding-lr {
    padding-left: 20px;
}

.padding-right {
    padding-right: 20px;
}

.margin-top-50 {
    margin-top: 50px
}
