<div class="login-form">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-6 ui-lg-6 background-color ">
            <h3>Benfits of account</h3>
            <ul>
                <li>
                    <span>
                        <i class="material-icons white font-14 ">
                            how_to_reg
                        </i>
                        <span class=" padding-left-20 text-color">Fast And secure Investment</span>
                    </span>
                </li>
                <li>
                    <span>
                        <i class="material-icons white font-14 ">
                            how_to_reg
                        </i>
                        <span class="padding-left-20  text-color">Fast And secure Investment</span>
                    </span>
                </li>
                <li>
                    <span>
                        <i class="material-icons white font-14 ">
                            how_to_reg
                        </i>
                        <span class="padding-left-20 text-color">Fast And secure Investment</span>
                    </span>
                </li>
            </ul>

        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6" *ngIf="otherLoginIssue">
            <p-tabView>
                <p-tabPanel header="Sign In to Application">
                    <form action="" [formGroup]="loginForm">
                        <div clas="form">
                            <div class="form-group">
                                <div class="ui-float-label">
                                    <input class="form-control" formControlName="emailOrmobile" type="text" size="30" pInputText required>
                                    <label for="float-input">Registered email id or Mobile Number <span
                                            class="color-red">*</span></label>
                                </div>
                                <div *ngIf="submitted && f.emailOrmobile.errors" class="invalid-feedback">
                                    <div *ngIf="f.emailOrmobile.errors.required">Email is required</div>
                                    <div *ngIf="f.emailOrmobile.errors.invalidEmailOrNumber">Invalid Email id Or Phone number</div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="ui-float-label ">
                                    <input class="form-control" formControlName="password" type="password" size="8" pInputText required>
                                    <label for="float-input">Password <span class="color-red">*</span></label>
                                </div>
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters
                                    </div>
                                </div>

                                <div *ngIf="invalid" class="color-red">
                                    Invalid email id and password
                                </div>
                            </div>

                            <div class="form-group padding-tb-20 text-center">
                                <span class="padding-lr"><a href="">Forget password</a></span>
                                <span> | </span>
                                <span class="padding-lr"><a (click)="showDIV($event)">Other Login Issue</a></span>

                            </div>

                            <!-- <div class="form-group"> <span>By Logging in you in agree to your terms and condition and privacy policy</span></div> -->
                            <div class="form-group margin-top-50 text-center">
                                <button class="ui-button" [disabled]="!loginForm.valid" pButton (click)="getLogin($event)" label="Login"></button>
                            </div>
                        </div>
                    </form>


                </p-tabPanel>
                <p-tabPanel header="Sign Up">
                    <app-register></app-register>

                </p-tabPanel>

            </p-tabView>

        </div>
        <div class="ui-g-6 min-height-450" *ngIf="!otherLoginIssue">
            <p-accordion>
                <p-accordionTab header="Contact Us">
                    <form class="form" [formGroup]="contactUsForm">
                        <div class="form-group">
                            <div class="ui-float-label">
                                <input class="form-control" formControlName="email" type="text" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" pInputText />
                                <label for="float-input">Registered email Id

                                </label>
                            </div>
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="ui-float-label">
                                <input type="text" minlength="0" maxlength="10" formControlName="phoneNumber" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" pInputText />
                                <label for="float-input">Phone Number
                                    </label>

                            </div>
                            <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                                <div *ngIf="f.phoneNumber.errors.required">Phone number is required</div>
                                <div *ngIf="f.phoneNumber.errors.invalidNumber">Please enter valid phone number</div>
                            </div>
                        </div>
                        <div class="form-group margin-top-30 text-center">
                            <button class="ui-button" pButton (click)="contactUs($event)"  label="Submit"></button>
                        </div>
                        <p-messages [(value)]="msgs"></p-messages>
                    </form>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
</div>