<div class="login-form">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-6 ui-lg-6 background-color ">
            <h3>Benfits of account</h3>
            <ul>
                <li>
                    <span>
                        <i class="material-icons white font-14 ">
                            how_to_reg
                        </i>
                        <span class=" padding-left-20 text-color">Fast And secure Investment</span>
                    </span>
                </li>
                <li>
                    <span>
                        <i class="material-icons white font-14 ">
                            how_to_reg
                        </i>
                        <span class="padding-left-20  text-color">Fast And secure Investment</span>
                    </span>
                </li>
                <li>
                    <span>
                        <i class="material-icons white font-14 ">
                            how_to_reg
                        </i>
                        <span class="padding-left-20 text-color">Fast And secure Investment</span>
                    </span>
                </li>
            </ul>

        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6" *ngIf="otherLoginIssue">
            <p-tabView>
                <p-tabPanel header="Sign In to Application">
                    <form action="" [formGroup]="loginForm">
                        <div clas="form">
                            <div class="form-group">
                                <div class="ui-float-label">
                                    <input class="form-control" id="float-input" formControlName="emailOrmobile" type="text" size="30" pInputText required>
                                    <label for="float-input">Registered email id or Mobile Number <span
                                            class="color-red">*</span></label>
                                </div>
                                <div *ngIf="submitted && f.emailOrmobile.errors" class="invalid-feedback">
                                    <div *ngIf="f.emailOrmobile.errors.required">Email is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="ui-float-label ">
                                    <input class="form-control" id="float-input" formControlName="password" type="text" size="8" pInputText required>
                                    <label for="float-input">Password <span class="color-red">*</span></label>
                                </div>
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters
                                    </div>
                                </div>

                                <div *ngIf="invalid" class="color-red">
                                    Invalid email id and password
                                </div>
                            </div>

                            <div class="form-group padding-tb-20 text-center">
                                <span class="padding-lr"><a href="">Forget password</a></span>
                                <span> | </span>
                                <span class="padding-lr"><a  (click)="showDIV($event)">Other Login Issue</a></span>

                            </div>

                            <!-- <div class="form-group"> <span>By Logging in you in agree to your terms and condition and privacy policy</span></div> -->
                            <div class="form-group margin-top-50 text-center">
                                <button class="ui-button" pButton (click)="getLogin($event)" label="Login"></button>
                            </div>
                        </div>
                    </form>


                </p-tabPanel>
                <p-tabPanel header="Sign Up">
                    <app-register></app-register>

                </p-tabPanel>

            </p-tabView>

        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6" *ngIf="!otherLoginIssue">

        </div>
    </div>
</div>