.form {}

.form-group {
    min-height: 60px;
}

.color-red {
    font-weight: bold;
    color: #e32
}

.padding-tb-20 {
    padding-top: 20px;
}

.padding-lr {
    padding-right: 15px;
    padding-left: 15px
}

:host::ng-deep .ui-button {
    background: #26a69a;
    width: 100%;
    height: 45px;
    font-family: 'Camphor';
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 3px;
    line-height: 24px;
    border: 1px solid #26a69a;
}

:host::ng-deep.ui-button:enabled:hover {
    background: #26a69a;
    border: 1px solid #26a69a;
}

:host::ng-deep .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active a,
 :host ::ng-deep .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active a,
body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active a,
body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active a {
    color: #000 !important;
}

:host ::ng-deep .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active:hover,
 :host::ng-deep .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active {
    border-width: 0 0 2px 0;
    border-color: #26a69a;
    background-color: #fff !important;
}

.background-color {
    background: #26a69a;
    margin-top: -8px;
    position: relative;
    left: -14px;
}

:host::ng-deep .ui-tabview.ui-tabview-top .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover {
    background: #fff;
    border: 0;
}

:host::ng-deep .ui-tabview.ui-tabview-top .ui-tabview-nav li {
    background: #fff;
    border: none;
}

:host::ng-deep .ui-tabview .ui-tabview-panels {
    border: 0;
    padding-left: 0;
}

ul li {
    list-style-type: none;
    margin: 30px 0 30px 10px;
}

h3 {
    padding-left: 10px;
    color: #fff;
    margin-top: 20px;
}

:host::ng-deep.ui-float-label>input:focus~label,
.ui-float-label>input.ui-state-filled~label,
.ui-float-label>.ui-inputwrapper-focus~label,
.ui-float-label>.ui-inputwrapper-filled~label {
    top: 5px;
}

:host::ng-deep.ui-inputtext:enabled:focus:not(.ui-state-error) {
    border-bottom: 1px solid #26a69a;
}

:host::ng-deep.ui-inputtext:focus {
    border: none;
}

:host::ng-deep .ui-inputtext.ng-dirty.ng-invalid,
body p-dropdown.ng-dirty.ng-invalid>.ui-dropdown,
body p-autocomplete.ng-dirty.ng-invalid>.ui-autocomplete>.ui-inputtext,
body p-calendar.ng-dirty.ng-invalid>.ui-calendar>.ui-inputtext,
body p-chips.ng-dirty.ng-invalid>.ui-inputtext,
body p-inputmask.ng-dirty.ng-invalid>.ui-inputtext,
body p-checkbox.ng-dirty.ng-invalid .ui-chkbox-box,
body p-radiobutton.ng-dirty.ng-invalid .ui-radiobutton-box,
body p-inputswitch.ng-dirty.ng-invalid .ui-inputswitch,
body p-listbox.ng-dirty.ng-invalid .ui-inputtext,
body p-multiselect.ng-dirty.ng-invalid>.ui-multiselect,
body p-spinner.ng-dirty.ng-invalid>.ui-inputtext,
body p-selectbutton.ng-dirty.ng-invalid .ui-button,
body p-togglebutton.ng-dirty.ng-invalid .ui-button {
    border-width: 0 0 1px 0;
    border-color: #26a69a;
}

:host::ng-deep .ui-tabview.ui-tabview-top>.ui-tabview-nav li {
    top: -12px;
}

:host ::ng-deep .ui-dialog .ui-dialog-content {
    border: none;
}

:host::ng-deep.ui-dialog .ui-dialog-titlebar {
    background: #fff;
    padding: 5px;
    border: none;
}

:required {
    background: red;
    font-weight: 600;
}

:host ::ng-deep.ui-tabview {
    height: 500px;
    overflow:auto;
}

.invalid-feedback {
    padding: 10px 0;
    color: #e32;
}

:host::ng-deep .ui-accordion .ui-accordion-content {
  //  min-height: 500px;
    border: none;
}

.min-height-450 {
    min-height: 500px
}

:host ::ng-deep .ui-accordion .ui-accordion-header a {
    background: #26a69a;
    color: #fff;
}

:host::ng-deep.ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active:hover a {
    border: 1px solid #26a69a;
    background-color: #26a69a;
}

:host::ng-deep.ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a,
 :host::ng-deep .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a {
    border: 1px solid #26a69a;
    background-color: #26a69a;
    color: #fff;
}

.margin-top-30 {
    margin-top: 30px
}

:host::ng-deep.ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a .ui-accordion-toggle-icon {
    color: #fff;
}

:host::ng-deep .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
    color: #fff;
}

.text-right {
    text-align: right;
}
.sub-btn, .back-btn{
    width:136px;
    height:44px;
}
.back-btn{
   
    background:#fff;
    border:1px solid #26a69a;
    color:#26a69a !important;
    
}
:host::ng-deep.ui-button.back-btn:enabled:hover{
    background:#fff;
     color:#26a69a ;
}
.margin-right-30{
    margin-right:30px;
}
.margin-tb-20{
    margin:20px 0;
}