<div class="conatiner margin-top-30">
    <div class=row>
        <div class="col-xs-12 col-lg-6 col-md-6"> content</div>
        <form [formGroup]="loginForm">
            <div class="col-xs-12 col-lg-6 col-md-6">
                <ngb-tabset>
                    <ngb-tab title="Sign In To Application">
                        <ng-template ngbTabContent>
                            <div class="form">
                                <div class='form-group'>
                                    <label for="uname"><b>Username</b></label>
                                    <input type="text" placeholder="Enter Username" formControlName="username"
                                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required>
                                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                        <div *ngIf="f.username.errors.required">Username is required</div>
                                    </div>
                                </div>
                                <div class='form-group'>
                                    <label for="psw"><b>Password</b></label>
                                    <input type="password" placeholder="Enter Password" formControlName="password"
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                    </div>                                   
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" (click)="getLogin($event)">Login</button>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle><b>Sign Up</b></ng-template>
                        <ng-template ngbTabContent>
                            <div>
                                <app-register></app-register>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </form>
    </div>
</div>