/* You can add global styles to this file, and also import other style files */
.text-center{
    text-align:center;
}

.padding-left-20 {
    padding-left: 20px;
}
.text-color
{
    color:#fff;
}

:host ::ng-deep input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom:1px solid #26a69a;
}
